{% extends 'base.html' %}

{% block title %}About Me{% endblock title %}

{% block content %}
    <h1>About Me Page</h1>
    <p class="aboutMe">My name is Jimmy Smith</p>
    <p class="aboutMe">I currently work for Q2, Inc. As a Data Systems Analyst.  I currenlty troublehsoot Pythong scripts that are designed to pull data from the FI's(Finanancial Institution).  In using Python scripts we pull the data in, parse the information included in the file, ingest it into our SQL database and then display the same information via our Online Banking Software(i.e. web pages, customized) for the FI's customers.  </p>
{% endblock content %}