{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    <h1 class="HP">Home Page</h1>
    <p class="homePG">Welcome to J&L Design's homepage.  We are happy to see you. Take a look around and let us know if you are intrested in our services</p>
    <p class="homePG">We offer the following services.</p>
    <ul class="homeServ">
        <div class="home-Container">
            <li class="liServ">Front End Web Site Design</li>
            <li class="liServ">Single Web Page design</li>
            <li class="liServ">Multiple Web Page design</li>
            <li class="liServ">Small Web site design(3-5 pages)</li>
            <li class="liServ">Medium Web site design(5-10 pages)</li>
            <li class="liServ">Large Web site design(10-15 pages)</li>
            <li class="liServ">Backend configuration</li>
        </div>        
    </ul>

{% endblock content %}